@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

main {
  text-align: center;
}

fieldset {
  margin: 1rem auto;
  padding: 16px;
}

textarea {
  padding: 8px;
  margin: 8px 0;
  width: 100%;
}

fieldset,
#winnerSection {
  max-width: 400px;
}

#listNames {
  display: block;
}

#newCaptain {
  padding: 8px 16px;
  margin-top: 8px;
  width: 100%;
}

#pickACaptainButton {
  background-color: #05595b;
  border: 4px solid #05595b;
  border-radius: 4px;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

#pickACaptainButton:hover {
  background-color: darkcyan;
  border-color: darkcyan;
  transition: all 0.2s;
}

#pickACaptainButton:focus {
  box-shadow: inset 0 0 0 1px white;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-order-1 {
  order: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.container {
  margin: 5rem auto;
  max-width: 1098px;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  main {
    margin-bottom: 1rem;
  }

  #winnerSection,
  fieldset {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
